//mixin para cambiar de color y hacer un transform scale al hacer hover, parms tamaño x, tamaño y
@mixin hoverScale($x, $y) {
    color:$color-accent;
    background-color: $color-hover;
    transform:scale($x, $y);
}