.contenedor-galeria{  
    display:grid;
    gap:5px;    
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin:20px;
    padding:20px;
}

.grid-item:nth-child(1){
    grid-row-start: span 2;
    grid-column-start: span 2;
}

.grid-item:nth-child(2){
    grid-row-start: span 2;
    grid-column-start: span 2;
}

.grid-item:nth-child(11) {
    grid-row-start: span 1;
    grid-column-start: span 2;
}
.grid-item:nth-child(12) {
    grid-row-start: span 1;
    grid-column-start: span 2;
}

.grid-item:nth-last-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 4;
}