.c-image{
    /*para acomodar tamaño inicial de about us*/
    height: 100%;
    width: 100%;
    object-fit: cover;
    //transition: all 0.5s;
    overflow: hidden;

    /*paraque sea gradual*/
   /* &:hover {
        transform: scale(1.1);
    }
    se lo quite no me gustaba la animacion, cargaba mucho 
    */

}

